<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="ESPN Test Suite">
    <listeners>
        <listener class-name="org.espn.utils.Listener"/>
    </listeners>

    <parameter name="browser" value="chrome"/>
    <parameter name="url" value="https://www.espnqa.com/?src=com&amp;_adblock=true&amp;espn=cloud"/>
    <parameter name="name" value="Jaime"/>
    <parameter name="lastName" value="Sarmiento"/>
    <parameter name="email" value="je.sarmiento+601@globant.com"/>
    <parameter name="pass" value="N0seasap0"/>

    <test name="Web Test">
        <classes>
            <class name="org.espn.tests.UserTests"/>
        </classes>
    </test>

</suite>